*{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background-color: #8DCD63
}
header{
    background-color: rgb(245,245,245);

}header .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
}

header a{
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

header a:hover{
}


header .logo{
    margin: 0;
    padding: 25px 30px;
    font-weight: bold;
    color: #8DCD63;
    font-size: 1.6em;
}
h1{ font-size: 3.5em;}
h2{ font-size: 2.7em;}
h3{ font-size: 2em;}
p{ font-size: 1.25em;}
ul{ list-style: none;}
li{ font-size: 1.25em;}

.form-tratamientos {
  width: 400px;
  background: white;
  padding: 30px;
  margin: auto;
  margin-top: 100px;
  border-radius: 4px;
  font-family: 'calibri';
  color: black;
  box-shadow: 7px 13px 37px #000;
}

.form-tratamientos h4 {
  font-size: 22px;
  margin-bottom: 20px;
}

.controls {
  width: 100%;
  background: #8DCD63;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid white;
  font-family: 'calibri';
  font-size: 18px;
  color: black;
}

.form-tratamientos p {
  height: 40px;
  text-align: center;
  font-size: 18px;
  line-height: 40px;
}

.form-tratamientos a {
  color: #8DCD63;
  text-decoration: none;
}

.form-tratamientos a:hover {
  color: #8DCD63;
  text-decoration: underline;
}

.form-tratamientos .botons {
  width: 100%;
  background: #8DCD63;
  border: none;
  padding: 12px;
  color: white;
  margin: 16px 0;
  font-size: 16px;
}
footer{
    background-color: rgb(230,230,230);
}

footer p{
    margin: 0;
    padding: 12px;
    color: rgb(100,100,100);
}

footer .container{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
